<form action="#" method="" accept-charset="utf-8" class="form">
	<div class="panel profile__billing-address">
		<header class="panel__heading">
			<h2>Billing Address</h2>
		</header>
		<div class="panel__body">
			<fieldset class="controls controls--left">
				<input name="billing[first_name]" id="first_name" type="text" class="text controls__control" value="{{ billing.first_name }}"  placeholder="first name*"/>
			</fieldset>
			<fieldset class="controls controls--right">
				<input name="billing[last_name]" id="last_name" type="text" class="text controls__control" value="{{ billing.last_name }}"  placeholder="first name*"/>
			</fieldset>
			<fieldset class="controls controls--full">
				<input name="billing[street_address]" id="billing_address" type="text" class="controls__control" placeholder="street address*" value="{{ billing.street_address }}"/>
			</fieldset>
			<fieldset class="controls controls--left">
				<input type="text" name="billing[city]" id="billing_city" value="{{ billing.city }}" class="controls__control" placeholder="city*"/>
			</fieldset>
			<fieldset class="controls controls--right">
				<input type="text" id="billing_zip" name="billing[postal_code]" value="{{ billing.postal_code }}" class="controls__control " placeholder="postcode/zip*"/>
			</fieldset>
			<fieldset class="controls controls--left">
				<select id="billing_country" name="billing[shop_country_id]" data-state-selector="#billing_state" data-current-state="{{ billing.country.id }}" class="chzn-select controls__control">
					<option {{ option_state(billing.country.id, country.id) }} value="{{ country.id }}">UK</option>
				</select>
			</fieldset>
			<fieldset class="controls controls--right">
				<select class="chzn-select controls__control" id="billing_state" name="billing[shop_state_id]" data-ajax-refresh >
					<option>Cheshire</option>
				</select>
			</fieldset>
			<fieldset class="controls controls--left">
					<input type="text" name="billing[email]" id="email" value="{{ customer.email }}" class="controls__control" placeholder="Email*" />
			</fieldset>
			<fieldset class="controls controls--right">
					<input data-mirror type="text" name="billing[phone]" id="phone" value="{{ billing.phone }}" class="controls__control" placeholder="phone number"/>
			</fieldset>
		</div>
	</div>
	<div class="panel profile__shipping-address">
		<header class="panel__heading">
			<h2>Delivery Address</h2>
		</header>
		<div class="panel__body">
			<fieldset class="controls controls--left">
				<input name="shipping[first_name]" id="first_name" type="text" class="text controls__control" value="{{ shipping.first_name }}"  placeholder="first name*"/>
			</fieldset>
			<fieldset class="controls controls--right">
				<input name="shipping[last_name]" id="last_name" type="text" class="text controls__control" value="{{ shipping.last_name }}"  placeholder="first name*"/>
			</fieldset>
			<fieldset class="controls controls--full">
				<input name="shipping[street_address]" id="shipping_address" type="text" class="controls__control" placeholder="street address*" value="{{ shipping.street_address }}"/>
			</fieldset>
			<fieldset class="controls controls--left">
				<input type="text" name="shipping[city]" id="shipping_city" value="{{ shipping.city }}" class="controls__control" placeholder="city*"/>
			</fieldset>
			<fieldset class="controls controls--right">
				<input type="text" id="shipping_zip" name="shipping[postal_code]" value="{{ shipping.postal_code }}" class="controls__control " placeholder="postcode/zip*"/>
			</fieldset>
			<fieldset class="controls controls--left">
				<select id="shipping_country" name="shipping[shop_country_id]" data-state-selector="#shipping_state" data-current-state="{{ shipping.country.id }}" class="chzn-select controls__control">
					<option {{ option_state(shipping.country.id, country.id) }} value="{{ country.id }}">UK</option>
				</select>
			</fieldset>
			<fieldset class="controls controls--right">
				<select class="chzn-select controls__control" id="shipping_state" name="shipping[shop_state_id]" data-ajax-refresh >
					<option>Cheshire</option>
				</select>
			</fieldset>
			<fieldset class="controls controls--left">
					<input type="text" name="shipping[email]" id="email" value="{{ customer.email }}" class="controls__control" placeholder="Email*" />
			</fieldset>
			<fieldset class="controls controls--right">
					<input data-mirror type="text" name="shipping[phone]" id="phone" value="{{ shipping.phone }}" class="controls__control" placeholder="phone number"/>
			</fieldset>
		</div>
		<footer class="panel__footer">
			<button type="submit" class="btn btn--primary pull-right">Save Address Information
				<i class="fa fa-save pull-right"></i>
			</button>
		</footer>
	</div>
	<div class="panel profile__change-password">
		<header class="panel__heading">
			<h2>Change Password</h2>
		</header>
		<div class="panel__body">
			<fieldset class="controls controls--thirds">
				<input name="oldPassword" id="oldPassword" type="password" class="controls__control" value="" placeholder="Old Password"/>
			</fieldset>
			<fieldset class="controls controls--thirds">
				<input name="password" id="password" type="password" class="controls__control" value="" placeholder="New Password"/>
			</fieldset>
			<fieldset class="controls controls--thirds">
				<input name="passwordConfirm" id="passwordConfirm" type="password" class="controls__control" value="" placeholder="Confirm Password"/>
			</fieldset>
		</div>
		<footer class="panel__footer">
			<button type="submit" class="btn btn--primary pull-right">Save Password
				<i class="fa fa-save pull-right"></i>
			</button>
		</footer>
	</div>
</form>

